/*

Name:       Cowabunga
Author:     Nacho Verdón (nverblaz@gmail.com)
Version:	1.0
Source: 	https://github.com/nachoverdon/cowabunga-theme
License:	MIT (https://github.com/nachoverdon/cowabunga-theme/raw/master/LICENSE)

Uses 'Inconsolata' font or the default monospace font as a fallback. (http://www.google.com/fonts#UsePlace:use/Collection:Inconsolata)

*/

.cm-s-cowabunga {
  font-family: Consolas, 'Inconsolata', monospace !important;
  font-size: 13px !important;
  line-height: 1.2em !important;
}
.cm-s-cowabunga.CodeMirror {
  background: #111;
  color: #ddd;
}
.cm-s-cowabunga div.CodeMirror-activeline-background {
  background-color: #1b1b1b !important;
  z-index: 0 !important;
  outline: none !important;
}
.cm-s-cowabunga div.CodeMirror-selected {
  background: #333 !important;
}
.cm-s-cowabunga .CodeMirror-gutters {
  background: #0b0b0b;
  border-right: 0 !important;
}
.CodeMirror pre {
  padding: 0px 8px;
}
.cm-s-cowabunga div.CodeMirror-cursor {
  border-left: 1px solid #fff !important;
}
.cm-s-cowabunga.CodeMirror,
.cm-s-cowabunga .CodeMirror-gutters,
.cm-s-cowabunga div.CodeMirror-selected,
.cm-s-cowabunga div.CodeMirror-activeline-background {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGElEQVQIW2P8//8/LwMDwy9GIIMdyGADAE+LBxFPPaeGAAAAAElFTkSuQmCC);
}
.cm-s-cowabunga span.cm-def {
  color: #e60;
}
.cm-s-cowabunga span.cm-tag {
  color: #d28;
}
.cm-s-cowabunga span.cm-comment {
  color: #099;
}
.cm-s-cowabunga span.cm-property {
  color: #fb0;
}
.cm-s-cowabunga span.cm-string-2 {
  color: #9dd;
}
.cm-s-cowabunga span.cm-bracket {
  font-weight: bold;
}
.cm-s-cowabunga span.cm-operator {
  color: #fff;
  font-weight: bold;
}
.cm-s-cowabunga span.cm-link,
.cm-s-cowabunga span.cm-atom,
.cm-s-cowabunga span.cm-number,
.cm-s-cowabunga span.cm-attribute {
  color: #94c;
}
.cm-negative,
.cm-s-cowabunga span.cm-meta,
.cm-s-cowabunga span.cm-keyword,
.cm-s-cowabunga span.cm-qualifier {
  color: #c00;
}
.cm-s-cowabunga .cm-hr,
.cm-s-cowabunga span.cm-string,
.cm-s-cowabunga .CodeMirror-linenumber {
  color: #888;
}
.cm-positive,
.cm-s-cowabunga span.cm-quote,
.cm-s-cowabunga span.cm-variable,
.cm-s-cowabunga span.cm-variable-3 {
  color: #8c2;
}
.cm-s-cowabunga .cm-header,
.cm-s-cowabunga span.cm-builtin,
.cm-s-cowabunga span.cm-variable-2 {
  color: #0af;
}
.cm-s-cowabunga span.cm-error,
.cm-s-cowabunga .cm-invalidchar {
  color: #fff;
  background-color: rgba(255, 34, 34, 0.1);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAF0lEQVQIW2P8z8BgzMDA8JwRyJACMiQBJX8DTitXk+IAAAAASUVORK5CYII=);
}
.cm-em {
  font-style: italic;
}
.cm-link {
  text-decoration: underline;
}
.cm-header,
.cm-strong {
  font-weight: bold;
}
.CodeMirror .CodeMirror-searching,
.cm-s-cowabunga span.CodeMirror-matchingbracket {
  background-color: #8c2 !important;
  color: #111 !important;
}
.cm-s-cowabunga span.CodeMirror-nonmatchingbracket {
  background-color: #c00 !important;
  color: #111 !important;
}
.cm-s-cowabunga .CodeMirror-matchingtag {
  font-weight: bold;
  text-shadow: 1px 1px 0 #000, 2px 2px 0 #000 !important;
  background: transparent !important;
}
.cm-s-cowabunga .CodeMirror-activeline div.CodeMirror-linenumber {
  color: #fff !important;
  font-weight: bold;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGElEQVQIW2P8//8/LwMDwy9GIIMdyGADAE+LBxFPPaeGAAAAAElFTkSuQmCC), linear-gradient(0, #111 0%, #111 100%);
}
